# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ff]STime*/
sysinfo.txt
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.tmproj

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# macOS固有ファイル
.DS_Store
.Spotlight-V100
.Trashes

# Windows固有ファイル
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
